/* DARK MODE */

/* THEME COLORS
Main: rgba(22, 42, 52, 1);
Main Dark: rgba(13, 23, 28, 1);
Main Light: rgba(27, 50, 62, 1);
Highlight: rgba(31, 55, 68, 1);

Accent: rgba(148, 113, 7, 1);
Accent Light: rgba(186, 143, 11, 1);
Black: rgba(31, 32, 33, 1);
White: rgba(201, 211, 216, 1);
*/


::-webkit-scrollbar-track {
   background: rgba(22, 42, 52, 0);
}

::-webkit-scrollbar-thumb {
   background: rgba(27, 50, 62, 1);
}

::-webkit-scrollbar-thumb:hover {
   background: rgba(31, 55, 68, 1);
}

body {
  color: rgba(201, 211, 216, 1);
  background-color: rgba(22, 42, 52, 1);
}

a {
  color: rgba(201, 211, 216, 0.75);
}

a:hover {
  color: rgba(186, 143, 11, 1);
}

.dropdown-divider {
  border-top: 2px solid rgba(186, 143, 11, 0.65);
}

nav {
  background-color: rgba(13, 28, 28, 0.65);
}
/*
.navbar-dark .navbar-nav .nav-link {
  color: rgba(201, 211, 216, .55);
} */

/* .nav-box-vis {
  border: 2px solid rgba(201, 211, 216, 0.15);
} */

.dropdown-menu {
  background-color: rgba(27, 50, 62, 1);
}
.dropdown-item {
  color: rgba(201, 211, 216, 0.75)!important;
}
.dropdown-item:hover {
  background-color: rgba(31, 55, 68, 1);
}
.lang-active {
  color: rgba(201, 211, 216, 1)!important;
}

.banner-text {
  color: rgba(240, 243, 245, 1);
  background-color: rgba(31, 55, 68, 0.9);
}

.section-head {
  color: rgba(186, 143, 11, 1);
}
.section {
  background-color: rgba(31, 55, 68, 1);
}

.divider {
  border: 0.25rem solid rgba(153, 116, 3, 1);
}
.divider-dot-right {
  border: 0.25rem dashed rgba(153, 116, 3, 1);
}
.divider-dot-left {
  border: 0.25rem dashed rgba(153, 116, 3, 1);
}

.hobby-tooltip {
  color: rgba(186, 143, 11, 1);
}
.tooltip-inner {
  background-color: rgba(31, 55, 68, 1);
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: rgba(31, 55, 68, 1);
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: rgba(31, 55, 68, 1);
}
.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: rgba(31, 55, 68, 1);
}
.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: rgba(31, 55, 68, 1);
}

.slider:before {
  background-color: rgba(201, 211, 216, 1);
}

input:checked + .slider {
  background-color: rgba(22, 42, 52, 1);
  border: 2px solid rgba(201, 211, 216, .55);
}

.contact-box {
  background-color: rgba(31, 55, 68, 1);
}

.construction {
  background-color: rgba(27, 50, 62, 1);
  color: rgba(186, 143, 11, 1);
}

.foot {
  color: rgba(201, 211, 216, 0.55);
}

/* resume */
.download-button {
  /* border: 2px solid rgba(201, 211, 216, 0.55); */
  background-color: rgba(201, 211, 216, 0.75);
  color: rgba(31, 55, 68, 1);
}
.download-button:hover {
  background-color: rgba(186, 143, 11, 1);
  color: rgba(31, 55, 68, 1);
}

.subsection-head {
  color: rgba(186, 143, 11, 1);
}

.progress {
  background-color: rgba(31, 55, 68, 0.75);
}
.progress-bar {
  background-color: rgba(201, 211, 216, 0.75)
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  background-color: rgba(201, 211, 216, 0.75);
}
/* The circles on the timeline */
.time-container::before {
  background-color: rgba(186, 143, 11, 1);
  border: 4px solid rgba(186, 143, 11, 1);
}
/* Add arrows to the right container (pointing left) */
/* .time-container::after {
  border: medium solid rgba(31, 55, 68, 1);
  border-color: transparent rgba(31, 55, 68, 1) transparent transparent;
} */

.emphasis {
  color: rgba(186, 143, 11, 1);
}
