#art-carousel {
  border-radius: 5px;
}

.carousel-text-box {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text {
  width: auto;
}

.carousel-inner {
  border-radius: 0 5px 5px 0;
  /* padding: 1rem 1rem 3.5rem 1rem; */
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
}

.carousel-item {
  position: relative;
  overflow: hidden;
}

/* fading out fix */
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 1s ease-in-out;
}

.carousel-art {
  display: block;
  max-height: 500px;
  /* max-width: 100%; */
  height: auto;
  width: auto;
  margin: auto;
  /* transition: transform 2s ease, opacity .5s ease-out */
}

.tab-bar {
  padding-top: 1.5rem;
}

.gallery {
  border-radius: 5px;
  margin: 1.5rem 0;
  padding: 1rem;
}

.card {
  margin: 0.5rem;
  border: none;
  background-color: transparent;
}
.card-img {
  border: none;
}
.card:hover .card-img {
  opacity: 0.6;
  transition: 0.5s ease;
}
.card-title {
  margin: 0;
}
.card-img-overlay > .row {
  --bs-gutter-x: 0;
}
.card-overlay {
  padding: 1rem;
  border-radius: 0.25rem;
}

/* @media (min-width: 1200px) {
  .carousel {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .carousel {
    max-width: 1000px;
  }
}
@media (max-width: 992px) {
  .carousel {
    max-width: 850px;
  }
}
@media (max-width: 768px) {
  .carousel-text-box {
    width: 100%;
    left: 0;
  }
}
@media (max-width: 576px) {
  .banner-text {
    width: 100%;
  }
} */
