/*
THEME COLORS
Black: rgba(38, 40, 41, 1);
White: rgba(240, 243, 245, 1);
*/

::-webkit-scrollbar {
  width: 12px;
  z-index: -1;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.noto {
  font-family: 'Noto Sans JP', sans-serif;
}

p {
  font-size: 1.05rem;
  line-height: 2rem;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
  margin-bottom: 0;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

b {
  font-weight: 600;
}

a {
  color: #2e2e2e;
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  text-decoration: none;
}
/* Add a heart after links */
p > a::after {
  content: " ⤿ ";
}

.row {
  /* --bs-gutter-x: 1.5rem; */
  margin-right: 0;
}

nav {
  width: 100%;
  padding: 10px 10px !important;
 	-webkit-transition: all 0.4s ease;
 	transition: all 0.4s ease;
}

.navbar-brand {
  padding: 0px;
  margin: 0 0 0 0.5rem;;
}

#logo {
  max-height: 3.75rem;
  border-radius: 50%;
}

.navbar-toggler {
  margin: 0.75rem 0.5rem 0.75rem 0rem;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.15rem
}

.nav-item {
  position: relative;
  margin: 0px 0.5rem;
}

.nav-link {
  font-size: 1.05rem;
  font-weight: 400;
}

.placeholder {
  opacity: 0;
  cursor: pointer;
}

.nav-overlap {
  position: absolute;
  top: 0.5rem;
  width: 100%;
  text-align: center;
}

.nav-box {
  border-radius: 5px;
  padding: 0rem 0.5rem;
  border: 2px solid rgba(201, 211, 216, 0.15);
}

.nav-box-collapse {
  border-radius: 0px;
  border-width: 0px 2px 0px 0px;
}

#translate {
  margin-left:1.0rem;
}

/* furigana */
fg::before {
	content: attr(t);
	display: block;
  font-size: 50%;
	line-height: 1.5;
}

fg {
	display: inline-block;
	text-indent: 0px;
	line-height: normal;
  -webkit-text-emphasis: none;
	text-align: center;
	line-height: 1;
}

.swap {
  overflow-y: hidden;
  overflow-x: hidden;
}

.lang-active {
  font-weight: 600;
}

/* bootstrap icon */
.bi {
  font-size: 1.6rem;
}

.banner {
  position: absolute;
  object-fit: cover;
  width: 100%;
  max-height: 2000px;
  z-index: -1;
}

.banner-container {
  --bs-gutter-x: 0;
  width: 100%;
}

.large-banner {
  height: 700px;
}

.medium-banner {
  height: 500px;
}

.small-banner {
  height: 300px;
}

.banner-text-box {
  display: flex;
  padding-top: 82px; /* height of navbar*/
  height: 100%;
}

.banner-text {
  width: 100%;
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
  margin: auto;
}

.foot-banner {
  height: 350px;
}

#avatar {
  border-radius: 50%;
  max-height: 400px;
  max-width: 400px;
  width: 100%;
  display: flex;
  margin: auto;
  /* height: auto; */
}

.section-head {
  font-weight: 700;
  text-align: center;
  margin: 2.5rem 1.5rem 1.5rem 1.5rem;
}

.section {
  border-radius: 5px;
  margin: 0rem 1.5rem 1.5rem 1.5rem;
  padding: 1rem 1.5rem;
}
.section-hollow {
  border-radius: 5px;
  margin: 1rem 1.5rem 0 1.5rem;
}

.subsection {
  border-radius: 5px;
  padding: 1rem;
}
.subsection-hollow {
  border-radius: 5px;
  padding: 0 1rem 1rem 1rem;
}
.subsection p, .subsection-hollow p {
  margin: 0rem .5rem 1rem .5rem;
  text-indent: 2rem;
}

.divider {
  margin: 2rem 0rem;
  border-radius: 0;
}
.divider-dot-right {
  margin: 2rem 0rem;
  border-radius: 0 5px 5px 0;
}
.divider-dot-left {
  margin: 2rem 0rem;
  border-radius: 5px 0 0 5px;
}

.hobby-section {
  column-count: 2;
  column-gap: 2rem;
}
#hobby-collection {
  margin: auto;
  margin-bottom: 1.5rem;
}
.hobby-pic {
  display: block;
  border-radius: 0.3rem;
  max-height: 275px;
  height: auto;
  width: auto;
  object-fit: cover;
  transition: transform .2s;
  margin: 0.5rem;
}
.hobby-pic:hover {
  transform: scale(1.01);
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.45);
}
.hobby-tooltip {
  font-size: 1rem;
  font-size: 1.05rem;
}

.art-stack {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  position: relative;
}
.art-pic {
  display: block;
  border-radius: 5px;
  max-width: 250px;
  max-height: 250px;
  width: 100%;
}
.art-pic:hover {
  transform: scale(1.01);
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.45);
  transition: transform 0.5s;
  z-index: 1 !important;
}
.pic-bottom {
  grid-column: 5 / span 6;
  grid-row: 1;
}
.pic-top {
  grid-row: 1;
  grid-column: 1 / span 6;
  padding-top: 30%;
  /* z-index: 1; */
}

.foot {
  text-align: right;
  font-weight: 400;
  font-size: 0.8rem;
  padding: 30px 10px 10px 10px;
}

/* The darkmode switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 10px 0px 0px 4px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(240, 243, 245, 0.45);
  border: 2px solid rgba(242, 244, 243, 0);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  top: 2px;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  /* background-color: #e3e3da; */
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  /* background-color: rgba(46, 46, 46, .4);
  border: 2px solid rgba(242, 244, 243, .4); */
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.slider.round{
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-dark::before {
  background-size: contain;
  background-image: url("../media/moon.png");
}

.slider-light::before {
  background-size: contain;
  background-image: url("../media/sun.png");
}
/* darkmode toggle end */


/* .btn-custom {
  background-color: #0a483b;
  border-color: #0a483b;
  color: #e3e3da;
}

.btn-custom:hover {
  background-color: #065c4a;
  color: #e3e3da;
}

.btn-custom-inv {
  background-color: rgba(0, 0, 0, 0);
  border-color: #0a483b;
  color: #0a483b;
}

.btn-custom-inv:hover, .btn-custom-inv:active {
  background-color: #0a483b;
  color: #e3e3da;
}

#search {
  align-items: right;
} */

.contact-box {
  padding: 0.5rem;
  border-radius: 5px;
}
.contact-link {
  font-size: 2.5rem;
}
.contact-section > p {
  text-align: center;
  text-indent: 0px;
}

.contact span:nth-child(2n + 1){
	display: none;
}

.construction {
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
}
