{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock styles %}

{% block scripts %}
<script src="{% static 'js/contact.js' %}"></script>
{% endblock scripts %}

{% block title %} | Contact{% endblock %}
{% block nav-contact %}active{% endblock %}

{% block banner %}
<div class="banner-container medium-banner row justify-content-center">
  <img class="banner large-banner" src="{% if darkmode == "dark" %}{% static 'media/header_dark.png' %}{% else %}{% static 'media/header_light.png' %}{% endif %}">
  <div class="banner-text-box col-auto">
    <div class="banner-text">
      {% if lang == "eng" %}
        <h1>Contact</h1>
      {% elif lang == "jpn" %}
        <h1>連絡先</h1>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
  <!-- Top Spacer -->
  <div class="row" style="height: 2rem;"></div>

  <!-- Content -->
  <div class="row justify-content-center m-1">
    <div class="col-12 col-md-6 section text-center">
      <div class="subsection">
      {% for x in contact.Contact %}
        {{x}}
      {% endfor %}
      </div>
    </div>
  </div>

  <!-- Links -->
  <div class="row justify-content-center">
    <div class="col-auto d-flex">
      <ul class="m-0 p-0">
        <li class="d-inline">
          <a class="p-3 contact-link" href="https://github.com/halfriver" target="_blank">
            <i class="bi bi-github contact-link"></i>
          </a>
        </li>
        <li class="d-inline">
          <a class="p-3 contact-link" href="https://www.linkedin.com/in/ohkawak/" target="_blank">
            <i class="bi bi-linkedin contact-link"></i>
          </a>
        </li>
        <li class="d-inline">
          <a class="p-3 contact-link email-link" href="#">
            <i class="bi bi-envelope-fill contact-link"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Divider -->
  <div class="row justify-content-center">
    <div class="col-1 divider-dot-left"></div>
    <div class="col-3 divider"></div>
    <div class="col-1 divider-dot-right"></div>
  </div>

  <!-- Under Construction -->
  <div class="row justify-content-center">
    <div class="construction col-6">
      <h3><i class="bi bi-exclamation-triangle"></i>  {% if lang == 'jpn' %}構築中{% else %}Under Construction{% endif %}  <i class="bi bi-exclamation-triangle"></i></h3>
    </div>
  </div>


  <!-- Contact Form -->
  <div class="row justify-content-center d-none">
    <div class="col-lg-10 section-head">
    {% if lang == "eng" %}
      <h4>contact</h4>
    {% elif lang == "jpn" %}
      <h4>連絡先</h4>
    {% endif %}
    </div>
  </div>
  <div class="row justify-content-center d-none">
    <button id="email-test" type="button" class="btn btn-primary">Email Test</button>
  </div>

  <!-- Bottom Spacer -->
  <div class="row" style="height: 4rem;"></div>
</div>

<div class="container d-none">
  <div class="row">
    <div class="col-12">
      <div class="section-head">I look forward to hearing from you!</div>
    </div>
    <div class="col">
      <div class="contact" style='text-align: center'>
        <b><span>.</span><span>k</span><span>?</span><span>a</span><span>r</span><span>y</span><span>fg</span><span>k</span><span>k</span><span>o</span><span>p</span><span>.</span><span>s</span><span>o</span><span>l</span><span>h</span><span>g</span><span>k</span><span>m</span><span>a</span><span>m</span><span>w</span><span>p</span><span>a</span><span>a</span><span>@</span><span>@</span><span>g</span><span>x</span><span>m</span><span>i</span><span>a</span><span>e</span><span>i</span><span>d</span><span>l</span><span>l</span><span>.</span><span>w</span><span>c</span><span>m</span><span>o</span><span>z</span><span>m</span></b>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4 divider"></div>
  </div>
</div>
{% endblock %}
