<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block title %} | About{% endblock %}
{% block nav-home %}active{% endblock %}

{% block banner %}
<div class="banner-container medium-banner row justify-content-center">
  {% if darkmode == "dark" %}
    <img class="banner large-banner" src="{% static 'media/header_dark.PNG' %}">
  {% else %}
    <img class="banner large-banner" src="{% static 'media/header_light.PNG' %}">
  {% endif %}

  <div class="banner-text-box col-auto">
    <div class="banner-text">
      {% if lang == "eng" %}
        <h1>I'm Kayko Ohkawa</h1>
        <h3>Data Analyst</h3>
      {% elif lang == "jpn" %}
        <h1><fg t='オオカワ・ケイコ'>Kayko Ohkawaです</fg></h1>
        <h3>Data Analyst</h3>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

  <!-- Top Spacer -->
  <div class="row" style="height: 2rem;"></div>

  <!-- Section: About -->
  <div class="row justify-content-center">
    <div class="col-lg-10 section-head">
      {% if lang == "eng" %}
        <h4>About</h4>
      {% elif lang == "jpn" %}
        <h4>はじめに</h4>
      {% endif %}
    </div>
  </div>
  <div class="row justify-content-center d-lg-none">
    <div class="col-8">
      <img id="avatar" class="subsection" src="{% static 'media/profile.png' %}">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col section d-flex">
      <div class="row justify-content-center align-items-center">
        <img id="avatar" class="subsection col d-none d-lg-block" src="{% static 'media/profile.png' %}">
        <div class="col subsection">
          {% for p in home.About %}
            <p>{{p}}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- Divider -->
  <div class="row justify-content-center">
    <div class="col-1 divider-dot-left"></div>
    <div class="col-3 divider"></div>
    <div class="col-1 divider-dot-right"></div>
  </div>


  <!-- Section: Hobbies -->
  <div class="row justify-content-center">
    <div class="col-lg-10 section-head">
      {% if lang == "eng" %}
        <h4>Hobbies</h4>
      {% elif lang == "jpn" %}
        <h4>趣味</h4>
      {% endif %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col section-hollow">
      <div class="hobby-section subsection-hollow">
        {% for p in home.Hobbies %}
          <p>{{p}}</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col section-hollow">
      <div id="hobby-collection" class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center">
          <img class="hobby-pic img-fluid" src="{% static 'media/razzledazzle.png' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<span class='hobby-tooltip'>Dixie National Forest</span>">
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center">
          <img class="hobby-pic img-fluid" src="{% static 'media/cinnabar.jpeg' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<span class='hobby-tooltip'>His name is Cinnabar</span>">
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center">
          <img class="hobby-pic img-fluid" src="{% static 'media/garden.jpeg' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<span class='hobby-tooltip'>Probably overwatering</span>">
        </div>
        <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center">
          <img class="hobby-pic img-fluid" src="{% static 'media/syncline.png' %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" title="<span class='hobby-tooltip'>Look at that syncline!</span>">
        </div>
      </div>
    </div>
  </div>
  <!-- Divider -->
  <div class="row justify-content-center">
    <div class="col-1 divider-dot-left"></div>
    <div class="col-3 divider"></div>
    <div class="col-1 divider-dot-right"></div>
  </div>

  <!-- Section: Programming -->
  <div class="row justify-content-center">
    <div class="col-lg-10 section-head">
      {% if lang == "eng" %}
        <h4>Programming</h4>
      {% elif lang == "jpn" %}
        <h4>プログラミング</h4>
      {% endif %}
    </div>
  </div>
  <div class="row section justify-content-center">
    <div class="col subsection">
      {% for p in home.Programming %}
        <p>{{p}}</p>
      {% endfor %}
    </div>
  </div>
  <!-- Divider -->
  <div class="row justify-content-center">
    <div class="col-1 divider-dot-left"></div>
    <div class="col-3 divider"></div>
    <div class="col-1 divider-dot-right"></div>
  </div>

  <!-- Section: Art -->
  <div class="row justify-content-center">
    <div class="col-lg-10 section-head">
      {% if lang == "eng" %}
        <h4>Art</h4>
      {% elif lang == "jpn" %}
        <h4>アート</h4>
      {% endif %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col section-hollow d-flex align-center">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-lg subsection-hollow">
          {% for p in home.Art %}
            <p>{{p}}</p>
          {% endfor %}
          {% if lang == "eng" %}
            <p>More samples can be found in the <a href="/art">art section</a></p>
          {% elif lang == "jpn" %}
            <p>作品のサンプルは、<a href="/art">アートセクション</a>で見ることができます。</p>
          {% endif %}

        </div>
        <div class="col-auto col-lg-4 art-stack subsection-hollow">
          <div class="pic-bottom">
            <img class="art-pic" src="{% static 'media/Mosa.png' %}">
          </div>
          <div class="pic-top">
            <img class="art-pic" src="{% static 'media/defaultfish.png' %}">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Divider -->
  <div class="row justify-content-center">
    <div class="col-1 divider-dot-left"></div>
    <div class="col-3 divider"></div>
    <div class="col-1 divider-dot-right"></div>
  </div>

  <!-- Section: Contact -->
  <div class="row justify-content-center">
    <div class="col-lg-10 section-head">
      {% if lang == "eng" %}
        <h4>Contact</h4>
      {% elif lang == "jpn" %}
        <h4>連絡先</h4>
      {% endif %}
    </div>
  </div>
  <div class="row section-hollow justify-content-center">
    <div class="col col-lg-6 subsection-hollow contact-section">
      {% for p in home.Contact %}
        <p>{{p}}</p>
      {% endfor %}
    </div>
  </div>
  <div class="row section-hollow justify-content-center">
    <div class="col-auto justify-content-center">
      <div class="d-flex contact-box">
        <ul class="m-0 p-0">
          <li class="d-inline">
            <a class="p-3 contact-link" href="https://github.com/halfriver" target="_blank">
              <i class="bi bi-github contact-link"></i>
            </a>
          </li>
          <li class="d-inline">
            <a class="p-3 contact-link" href="https://www.linkedin.com/in/ohkawak/" target="_blank">
              <i class="bi bi-linkedin contact-link"></i>
            </a>
          </li>
          <li class="d-inline">
            <a class="p-3 contact-link" href="mailto:&#107;&#097;&#121;&#107;&#111;&#046;&#111;&#104;&#107;&#097;&#119;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" target="_blank">
              <i class="bi bi-envelope-fill contact-link"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Bottom Spacer -->
  <div class="row" style="height: 4rem;"></div>
</div>

<div class="d-none container-flex">
  <div class="row justify-content-center">
    <div class="construction col-8 col-lg-6">
      <h3><i class="bi bi-exclamation-triangle"></i> {% if lang == 'jpn' %}構築中{% else %}Under Construction{% endif %} <i class="bi bi-exclamation-triangle"></i><h3>
    </div>
  </div>
</div>
{% endblock content %}
