<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}">{% endblock styles %}

{% block title %} | Resume{% endblock %}
{% block nav-cv %}active{% endblock %}

{% block banner %}
<div class="banner-container medium-banner row justify-content-center">
  <img class="banner large-banner" src="{% if darkmode == "dark" %}{% static 'media/header_dark.png' %}{% else %}{% static 'media/header_light.png' %}{% endif %}">
  <div class="banner-text-box col-auto">
    <div class="banner-text">
    {% if lang == "eng" %}
      <h1>Resume</h1>
    {% elif lang == "jpn" %}
      <h1>履歴書</h1>
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
  <!-- Top Spacer -->
  <div class="row" style="height: 2rem;"></div>

  <!-- resume download and purpose statement -->
  <div class="row justify-content-center section">
    <div class="col-12 col-lg subsection">
    {% for p in resume.Statement %}
      {% for x in p %}
        <p>{{ x }}<p>
      {% endfor %}
    {% endfor %}
    </div>
    <div class="col-auto subsection">
      <div class="row justify-content-center d-flex">
        <div class="col">
          <a href="{% static 'files/OhkawaResume.pdf' %}" class="download-button" title="Download PDF" download>
          {% if lang == "eng" %}
            Download Resume PDF
          {% elif lang == "jpn" %}
            履歴書PDFダウンロード
          {% endif %}
          </a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col download-updated">
        {% if lang == "eng" %}
          last updated:
        {% elif lang == "jpn" %}
          最終更新日:
        {% endif %}
          {{ modtime }}
        </div>
      </div>
    </div>
  </div>
  <!-- Divider -->
  <div class="row justify-content-center">
    <div class="col-1 divider-dot-left"></div>
    <div class="col-3 divider"></div>
    <div class="col-1 divider-dot-right"></div>
  </div>

  <!-- Skills -->
  <div class="row justify-content-center section-hollow">
    <div class="col-12 col-lg-3">
      <div class="section-head">
      {% if lang == "eng" %}
        <h4>skills & projects</h4>
      {% elif lang == "jpn" %}
        <h4>技術・プロジェクト</h4>
      {% endif %}
      </div>
    </div>
    <div class="col-12 col-lg">
      <div class="row subsection">
        <div class="col-12 subsection-head">
        {% if lang == "eng" %}
          Languages
        {% elif lang == "jpn" %}
          言語
        {% endif %}
        </div>
        {% for x in resume.ProLang %}
        <div class="row m-2">
          <div class="col-2 lang-list">
            {{x.0}}
          </div>
          <div class="col-12 col-md-10 m-auto">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{x.1}}%" aria-valuenow="{{x.1}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row subsection">
        <div class="col-12 subsection-head">
          Projects
        </div>
      </div>
      {% for x in resume.Projects %}
      <div class="row section">
        <div class="col-auto">
          <span class="emphasis">{{x.0}}</span><span class="d-none d-md-inline">, </span><span class="indent d-block d-md-inline">{{x.1}}</span>
          <div class="location">{{x.2}}</div>
        </div>
        <div class="col-12 m-2" style="line-height: 2rem;">
          {{x.4 |safe}}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Divider -->
  <div class="row justify-content-center">
    <div class="col-1 divider-dot-left"></div>
    <div class="col-3 divider"></div>
    <div class="col-1 divider-dot-right"></div>
  </div>


  <!-- education -->
  <div class="row justify-content-center section-hollow">
    <div class="col-12 col-lg-3">
      <div class="section-head">
        <h4>education</h4>
      </div>
    </div>
    <div class="col-12 col-lg">
      {% for x in resume.Education %}
      <div class="row subsection">
        <div class="col-12 d-block d-md-none emphasis">{{x.3}}</div>
        <div class="col-auto">
          <span class="emphasis">{{x.0}}</span><span class="d-none d-md-inline">, </span><span class="indent d-block d-md-inline">{{x.1}}</span>
          <div class="location">{{x.2}}</div>
        </div>
        <div class="d-none d-md-block col text-end">
          {{x.3}}
        </div>
        <div class="col-12 m-2" style="line-height: 2rem;">
          {{x.4 |safe}}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- awards/distinctions/extracurricular things -->
  <div class="d-none row justify-content-end section-hollow">
    <div class="col-12 col-lg-3">
      <div class="section-head">
        <h4>awards</h4>
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="section">
        award1
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="section">
        award2
      </div>
    </div>
  </div>
  <!-- Divider -->
  <div class="row justify-content-center">
    <div class="col-1 divider-dot-left"></div>
    <div class="col-3 divider"></div>
    <div class="col-1 divider-dot-right"></div>
  </div>

  <!-- job experience (timeline) -->
  <div class="row justify-content-center section-hollow">
    <div class="col-12 col-lg-3">
      <div class="section-head">
        <h4>job experience</h4>
      </div>
    </div>
    <div class="col-12 col-lg">
      <div class="timeline">
        {% for x in resume.Jobs %}
        {% if forloop.first %}
        <!-- Spacer -->
        <div class="row" style="height: 2rem;"></div>
        {% endif %}
        <div class="time-container">
          <div class="row section timesect">
            <div class="col">
              <span class="emphasis">{{x.0}}</span><span class="d-none d-md-inline">, </span><span class="indent d-block d-md-inline">{{x.1}}</span>
              <div class="location">{{x.2}}</div>
            </div>
            <div class="col-12 m-2" style="line-height: 2rem;">
              {{x.3 |safe}}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Bottom Spacer -->
  <div class="row" style="height: 4rem;"></div>
</div>

<div class="d-none row justify-content-center">
  <div class="construction col-6">
    <h3><i class="bi bi-exclamation-triangle"></i>  {% if lang == 'jpn' %}構築中{% else %}Under Construction{% endif %}  <i class="bi bi-exclamation-triangle"></i><h3>
  </div>
</div>
{% endblock %}
